# ML Zoomcamp - Homework 1

##### [Homework-Link](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/cohorts/2022/01-intro/homework.md)

In order to get better at Machine Learning and develop a routine in using Pyhton (at work I mainly use R for my analysis), I decided to participate in DataTalksClub's Machine Learning Zoomcamp. I am already very exited and looking forward to learining a lot of new things!

First, we need to import all the relevant Python packages needed to perform the tasks. To make it easier to access the packages, we give each package an alias.

In [4]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

# Question 1 -  Version of pandas

What's the version of NumPy that I installed?

In [5]:
np.__version__

'1.18.1'

# Loading and inspecting the data

We will use the Car price dataset, which you can find [here](https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv).

In [6]:
df = pd.read_csv("data_homework1.csv")

First, we need to get an idea of what the data we will be working with in this homework looks like.

Let's look at the first 10 rows. We see that we have the information about one car per row and different criteria of the car in the columns.

In [9]:
df.head(10)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
5,BMW,1 Series,2012,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,31200
6,BMW,1 Series,2012,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,26,17,3916,44100
7,BMW,1 Series,2012,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,39300
8,BMW,1 Series,2012,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,36900
9,BMW,1 Series,2013,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,27,18,3916,37200

How are the numeric variables distributed? The oldes car we have in the data set is from 1990 and the newest one from 2017. The average number of doors per car is above 3 doors. It seems that some values are missing in the Engine HP and Cylinders variables, since we have fewer entries in these variables than in the year column. We will have a closer look on this later.

In [120]:
df.describe().round(2)

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.00,11845.00,11884.00,11908.00,11914.00,11914.00,11914.00,11914.00
mean,2010.38,249.39,5.63,3.44,26.64,19.73,1554.91,40594.74
std,7.58,109.19,1.78,0.88,8.86,8.99,1441.86,60109.10
min,1990.00,55.00,0.00,2.00,12.00,7.00,2.00,2000.00
25%,2007.00,170.00,4.00,2.00,22.00,16.00,549.00,21000.00
50%,2015.00,227.00,6.00,4.00,26.00,18.00,1385.00,29995.00
75%,2016.00,300.00,6.00,4.00,30.00,22.00,2009.00,42231.25
max,2017.00,1001.00,16.00,4.00,354.00,137.00,5657.00,2065902.00

We have 48 different Makes and 915 different models in the data. I am not an expert in cars so this sounds like a great deal to me.

In [125]:
df.nunique()

Make                   48
Model                 915
Year                   28
Engine Fuel Type       10
Engine HP             356
Engine Cylinders        9
Transmission Type       5
Driven_Wheels           4
Number of Doors         3
Market Category        71
Vehicle Size            3
Vehicle Style          16
highway MPG            59
city mpg               69
Popularity             48
MSRP                 6049
dtype: int64

# Question 2 - Number of Records

Let's take a closer look at the number of records in the data set. As we already seen in the distrubution of the numeric variables, there are 11.914 records in this data set.

In [4]:
len(df)

11914

# Question 3 - Most popular Car Brands

The most popular car makes in this set are Chevrolet (there are 1.123 cars of this brand), ford and Volkswagen.

In [72]:
df['Make'].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

# Question 4 - Number of unique Audi Models

Since we are not interested in the most popular cars ;) now we want to learn more about Audi-Cars. Audi has 34 different models, cars from 20 different years and produces cars with 2 different sets of doors.

In [203]:
df[df['Make'] == 'Audi'].nunique()

Make                   1
Model                 34
Year                  20
Engine Fuel Type       5
Engine HP             40
Engine Cylinders       6
Transmission Type      3
Driven_Wheels          2
Number of Doors        2
Market Category       15
Vehicle Size           3
Vehicle Style          6
highway MPG           23
city mpg              18
Popularity             1
MSRP                 234
dtype: int64

In [6]:
audi = df.loc[df['Make'] == 'Audi']

In [7]:
audi['Model'].nunique()

34

# Question 5 - Columns with missing values

Since we are also interested in the number of missing values in the various variables, lets have a closer look on this as well. Normally, I would look at this a little earlier (before getting lost in the different cars Audi has to offer) but this is the 5th question in the homework. So let's do it now. If we are doing our analysis with this data, it is important to know with how many missing values we have to deal with.

In [10]:
df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [18]:
na = df.isna().sum()
print(len(na[na > 0]), "variables have missing values.")

5 variables have missing values.

# Question 6 - Median und Modus

There are several ways to deal with missing values. We can impute them with the median or the mean of the variable. For time series data, we can also use the value of the last or next existing data point.

In [27]:
print("Median:", np.nanmedian(df['Engine Cylinders']))

Median: 6.0

In [58]:
most_frequent = df['Engine Cylinders'].mode()
print(most_frequent)

0    4.0
Name: Engine Cylinders, dtype: float64

In [55]:
new_df = df['Engine Cylinders'].fillna(df['Engine Cylinders'].median())

In [56]:
print("Median:", np.median(new_df))

Median: 6.0

# Question 7 - Value W

At the end, we are doing some linear regression with the cars of Lotus and to understand the relationship of Engine HP and Enginge Cylinders.

In [113]:
df_Lotus = df[df['Make'] == 'Lotus']

In [114]:
df_Lotus = df_Lotus[["Engine HP", "Engine Cylinders"]]

In [115]:
df_Lotus.head()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3914      189.0               4.0
3915      189.0               4.0
3916      218.0               4.0

In [116]:
df_Lotus.drop_duplicates().count()

Engine HP           9
Engine Cylinders    9
dtype: int64

In [191]:
df_Lotus = df_Lotus.drop_duplicates()

In [192]:
X = df_Lotus.values

In [194]:
XTX = X.T.dot(X)

In [196]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv.sum()

0.15475735843457794

In [199]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [200]:
w = XTX_inv.dot(X.T).dot(y)

In [206]:
print("W is:", w[0])

W is: 4.594944810094576

The rest will follow with the next homework assignment. :)